<div class="bootstrap-wrapper">
  <a name="sagenda"></a>
  <app-root>Sagenda is loading...</app-root>
  <script>
    window.sagendaIntegration = "WordPress";
    window.sagendaBearerToken = "{{bearerToken}}";
    window.sagendaDefaultView = "{{defaultView}}"; 
    window.sagendaWeekStartsOn = "{{weekStartsOn}}";
    window.sagendaRemoveMonthViewButton = '{{removeMonthViewButton}}'; 
    window.sagendaRemoveWeekViewButton = '{{removeWeekViewButton}}'; 
    window.sagendaRemoveDayViewButton = '{{removeDayViewButton}}'; 
    window.sagendaLanguageCultureShortName = "{{languageCultureShortName}}";
    window.sagendaDateFormat = "{{dateFormat}}";
    window.sagendaTimeFormat = "{{timeFormat}}";
    window.sagendaFixedBookableItem = "{{fixedBookableItem}}";
    window.baseUrl = "https://sagenda.net/api/v3/";
    window.sagendaAngularPath = "{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/";
  </script>
  <script
    type="text/javascript"
    src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/runtime.js"
  ></script>
  <script
    type="text/javascript"
    src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/polyfills.js"
  ></script>
  <script
    type="text/javascript"
    src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/main.js"
  ></script>
</div>
